* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#reg-form {
  text-align: center;
  padding-top: 10px;
}

#reg-form h3 {
  text-align: right;
  padding: 10px 20px 10px 0;
  color: red;
  font-size: 15;
  font-weight: 100;
}

#form {
  background-color: #f2f2f2;
  height: 200%;
  padding: 20px 0 20px 0;
}

#fname,
#lname,
#email,
#mobile,
#dob,
#city,
#apin,
#state,
#quali,
#special,
#password,
#address {
  width: 80%;
  padding: 12px 20px;
  /* margin-top: 8px; */
  /* margin-bottom: 8px; */
  display: inline-block;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 50px;
}

#fname > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#fname > input[type="text"] {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#lname > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#lname > input[type="text"] {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#email > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#email > input[type="email"] {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#mobile > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#mobile > input[type="text"] {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#dob > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#dob > input[type="date"] {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#gender {
  display: inline-block;
  margin-right: 50px;
  width: 80%;
  padding: 20px 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

#gender > label {
  float: left;
  margin-left: 40px;
}

#gender > span {
  float: left;
  margin-left: 80px;
}

#city > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#city > input[type="text"] {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#apin > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#apin > input[type="text"] {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#state > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#state > input[type="text"] {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#quali > label {
  float: left;
  margin-left: 40px;
}

#quali > select {
  padding: 2px 2px;
  float: left;
  margin-left: 45px;
}

#special > label {
  float: left;
  margin-left: 40px;
}

textarea {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
  margin-right: 50px;
}

#address > label {
  float: left;
  margin-left: 40px;
}

#password > label {
  float: left;
  margin-top: 12px;
  margin-left: 40px;
}

#password > input[type="password"] {
  width: 80%;
  float: right;
  border: none;
  border: 1px solid #ccc;
}

#submit{
  background-color: #51ac56;
  color: white;
  font-size: 14px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  /* margin-bottom: 20px; */
  margin-right: 70%;
}